<div class="container">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="col-md-4">
   <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control validate[required, custom[onlyLetters]]' %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control validate[required, custom[onlyLetters]]' %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control validate[required, custom[email]]' %>
  </div>

   <div class="form-group">
    <%= f.label :'new_password' %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    <span class="help-block">leave blank if you don't want to change it</span>
  </div>

  <%= f.hidden_field :auth_value, value: "" %>

  <div class="form-group">
    <%= f.label :'new_password_confirmation' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    <span class="help-block">we need your current password to confirm your changes</span>
  </div>

  <div class="form-group">
    <%= f.label :phone_no %>
    <%= f.text_field :phone_no, class: 'form-control validate[required, custom[onlyNumber],minSize[10]]' %>
  </div>

  <div class="form-group">
    <%= f.label :registration_type %><br/>
    <select name="user[registration_type]" id="user_registration_type" class="registration_type form-control validate[required]">
      <!-- <option value="" selected="selected">Select Type</option> -->
      <option value="<%= @user.registration_type %>"><%= @user.registration_type %></option>
    </select>
  </div>

  <div class="form-group dept_stream_field">
    <%= f.label :'Department Stream', id: 'user_stream_label' %><br />
    <%= f.collection_select :event_department_stream_id, EventDepartmentStream.all, :id, :name, { selected: @user.event_department_stream.try(:name), prompt: true }, class: "select2-size form-control select2-offscreen validate[required] department_stream" %>
  </div>

  <div class="form-group dept_field">
    <%= f.label :'Department', id: 'user_dept_label' %><br/>
    <%= select_tag "user[event_department_id]", options_for_select([@user.event_department.try(:name)], []),selected: true, class: "select2-size validate[required] form-control select2-offscreen event_dept department" %>
  </div>

  <div class="form-group college_field">
    <%= f.label :'college / university', id: 'user_place_of_study_label' %>
    <%= f.text_field :place_of_study, class: 'form-control validate[required, custom[onlyLetters]]' %>
  </div>

  <div class="form-group college_joined_year_field">
    <%= f.label :'college_joined_year', id: 'user_passed_out_year_label' %><br/>
    <%= select_tag "user[passed_out_year]", options_for_select((1937..2017).to_a, []), class: "select2-size form-control validate[required, custom[onlyNumber], minSize[4]] select2-offscreen passed_out_year", prompt: "Select Year", id: "user_passed_out_year" %>
  </div>

  <div class="form-group company_field">
    <%= f.label :company, id: 'user_company_label' %>
    <%= f.text_field :company, class: 'form-control validate[required, custom[onlyLetters]]' %>
  </div>

  <div class="form-group official_email_id_field">
    <%= f.label :official_email_id, id: 'user_official_email_id_label' %>
    <%= f.text_field :official_email_id, class: 'form-control validate[required,custom[email],funcCall[checkCompanyEmail]]' %>
  </div>

  <div class="form-group">
    <%= f.label :'how_do_you_know_us?' %>
    <%= select_tag "user[know_us]", options_for_select(['Facebook', 'Google', 'By Friends', 'Paper Ads'], @user.know_us), class: "select2-size form-control validate[required] select2-offscreen know_us", prompt: "Select here" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", id: "new_user_edit_sign_up", class: "btn btn-info" %>
  </div><br/>
  </div>
<% end %>

</div>

<style>
span.select2.select2-container.select2-container--default{
  width: auto !important;
}
</style>

<script type="text/javascript">
function checkCompanyEmail(field, rules, i, options){
    if (!String(field.val().split('@')[1]).startsWith($("#user_company").val().toLowerCase()[0])) {
    return "Please provide your company official email Id";
    }
}

$(document).ready(function(){
    $(".passed_out_year").select2({});
    $("#edit_user").validationEngine();
    $("#user_registration_type").val('<%= @user.registration_type %>');
    $('#user_registration_type').change();

    $("select[name='user[passed_out_year]']").val('<%= @user.passed_out_year %>').trigger('change');
    var dept = '<%= @user.event_department.try(:name) %>';
    dept = dept.replace("&amp;", "&")
    $("select[name='user[dept]']").val(dept).trigger('change');
});

$("#new_user_edit_sign_up").click(function(){
   if($("#user_password").val().length>0){
    $("#user_auth_value").val($("#user_password").val())
   }
   else
   {
    $("#user_auth_value").val("<%= current_user.auth_value %>");
   }
   $('#edit_user').submit();
});
</script>