<div class="container">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="col-md-4">
   <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control validate[required, custom[onlyLetters]]' %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control validate[required, custom[email]]' %>
  </div>

  <div class="form-group">
    <%= f.label :phone_no %>
    <%= f.text_field :phone_no, class: 'form-control validate[required, custom[onlyNumber],minSize[10]]' %>
  </div>

  <div class="form-group">
    <%= f.label :registration_type %><br/>
    <select name="user[registration_type]" id="user_registration_type" class="registration_type form-control validate[required]">
      <option value="" selected="selected">Select Type</option>
      <% RegistrationType.all.each do |item| %>
       <option value="<%= item.name %>"><%= item.name %></option>
      <% end %>
    </select>
  </div>

   <div class="form-group">
    <%= f.label :'Dept', id: 'user_dept_label' %>
    <%= f.text_field :dept, class: 'form-control validate[required,custom[onlyLetters]]' %>
  </div>

  <div class="form-group">
    <%= f.label :'college / university', id: 'user_place_of_study_label' %>
    <%= f.text_field :place_of_study, class: 'form-control validate[required, custom[onlyLetters]]' %>
  </div>

  <div class="form-group">
    <%= f.label :passed_out_year, id: 'user_passed_out_year_label' %>
    <%= f.text_field :passed_out_year, class: 'form-control validate[required, custom[onlyNumber], minSize[4]]' %>
  </div>

  <div class="form-group">
    <%= f.label :company, id: 'user_company_label' %>
    <%= f.text_field :company, class: 'form-control validate[required, custom[onlyLetters]]' %>
  </div>

  <div class="form-group">
    <%= f.label :official_email_id, id: 'user_official_email_id_label' %>
    <%= f.text_field :official_email_id, class: 'form-control validate[required,custom[email],funcCall[checkCompanyEmail]]' %>
  </div>


  <div class="actions">
    <%= f.submit "Update", class: "btn btn-info" %>
  </div><br/>
  </div>
<% end %>

</div>

<script type="text/javascript">
function checkCompanyEmail(field, rules, i, options){
    if (!String(field.val().split('@')[1]).startsWith($("#user_company").val().toLowerCase()[0])) {
    return "Please provide your company official email Id";
    }
}

$(document).ready(function(){
    $("#edit_user").validationEngine();
});
</script>