<div class="container table-responsive">
  <% if @users.count == 0 %>
  <p> Waiting for first User ! </p>
  <% else %>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone #</th>
        <th>College</th>
        <th>Year of Study</th>
        <th>Email</th>
        <th>User Type</th>
        <th>Department</th>
        <th>Offical email</th>
        <th>Company</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.name.present? ? user.name : "N/A" %></td>
        <td><%= user.phone_no.present? ? user.phone_no : "N/A" %></td>
        <td><%= user.place_of_study.present? ? user.place_of_study : "N/A" %></td>
        <td><%= user.email.present? ? user.email : "N/A" %></td>
        <td><%= user.registration_type.present? ? user.registration_type : "N/A" %></td>
        <td><%= user.dept.present? ? user.dept : "N/A" %></td>
        <td><%= user.official_email_id.present? ? user.official_email_id : "N/A" %></td>
        <td><%= user.company.present? ? user.company : "N/A" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>