<div class='urls'>
	<h3>Url Details</h3>
	<div class='row'>
		<div class='col-md-3 form-group'>
			<%= f.text_field :web_link, placeholder: "Event Website Link http://example.com", class: "form-control validate[custom[url]]"%>
		</div>
		<div class='col-md-3 form-group'>
			<%= f.text_field :registration_link , placeholder: "Event Registration Link http://example.com", class: "form-control validate[custom[url]]"%>
		</div>
		<div class='col-md-3 form-group'>
			<%= f.text_field :college_link, placeholder: "College Website Link http://example.com", class: "form-control validate[required,custom[url]]" %>
		</div>
		<div class='col-md-3 form-group'>
			<%= f.text_field :facebook_link, placeholder: "Facebook Event Link http://example.com", class: "form-control validate[custom[url]]"%>
		</div>
		<div class='col-md-3 form-group'>
			<%= f.text_field :twitter_link, placeholder: "Twitter Event Link http://example.com", class: "form-control validate[custom[url]]" %>
		</div>
		<div class='col-md-3 form-group'>
			<%= f.text_field :youtube_link, placeholder: "Youtube Event Link http://example.com", class: "form-control validate[custom[url]]" %>
		</div>
		<div class='col-md-3 form-group'>
			<%= f.text_field :apps_link, placeholder: "Event Link for Apps Android / IOS / Windows http://example.com", class: "form-control validate[custom[url]]"%>
		</div>
	</div>
</div>