<!--filter results section start-->
        <div class='col-md-6'>
          <div id="event_results" class="event_results">
            <h2 class="text-center"><%= @result_msg %></h2>
            <% if @events.count == 0 %><br/><p style="text-align: center;">First Event is yet to create !</p><% end %>
            <% @events.each do |event| %>
              <div class="event_search_result">
                <div class="section1">
                  <div class="section1_left">
                    <h2 class="eventname"><%= link_to event.event_name, event %></h2>
                    <p class="colg_name"><%= event.study_place %></p>
                    <p class="locat"><%= event.district %>, <%= event.state %>, <%= event.country %></p>
                    <p class="event_typename"><%= event.event_type %>, 8days</p>
                  </div>
                  <div class="section1_right">
                    <%= image_tag EventCollegeBanner.find(event.college_banner_id).college_banner.url if event.college_banner_id.present? %>
                  </div>
                </div>
                <div class="section2">
                  <div class="dates">
                    <p><b>Date: </b><%= event.start_date.to_s.split(' ')[0] %><span></span> <%= event.end_date.to_s.split(' ')[0] %></p>
                  </div>
                <%= link_to 'View Details', event, class: 'view_det_btn hvr-bubble-float-right', target: '_blank' %>
                </div>
                <div class="section3">
                  <ul>
                  <% event_going = EventGoing.find_by(event_id: event.id) %>
                  <li>Going - <%= !event_going.nil? ? EventGoing.where(event_id: event.id).sum(:going_count) : 0 %></li>
                  <li>May be - <%= !event_going.nil? ? EventGoing.where(event_id: event.id).sum(:may_be_count) : 0 %></li>
                  <li>Event Reach - <%= !event_going.nil? ? EventGoing.where(event_id: event.id).sum(:reach_count) : 0 %></li>
                  </ul>
                </div>
              </div>
            <% end %>

          </div>
          <%= will_paginate @events %>
        </div>
        <!--filter results section end--> 
