<p>
	<%= f.label :web_link %><br>
	<%= f.text_field :web_link %>
</p>

<p>
	<%= f.label :registration_link %><br>
	<%= f.text_field :registration_link %>
</p>

<p>
	<%= f.label :college_link %><br>
	<%= f.text_field :college_link %>
</p>

<p>
	<%= f.label :facebook_link %><br>
	<%= f.text_field :facebook_link %>
</p>

<p>
	<%= f.label :twitter_link %><br>
	<%= f.text_field :twitter_link %>
</p>

<p>
	<%= f.label :youtube_link %><br>
	<%= f.text_field :youtube_link %>
</p>

<p>
	<%= f.label :apps_link %><br>
	<%= f.text_field :apps_link %>
</p>