<div class='event_info'>
      <h3>Event Details</h3>
        <div class='row'>
          <div class='col-md-6 form-group'>
            <div class='row'>
              <div class='col-md-6 form-group'>
                <div class='input-group date' id='eventstartdate'>
                  <label>Start Date</label>
                  <% date_val = event.event_detail.present? && event.event_detail.start_date.present? ? event.event_detail.start_date.strftime("%m/%d/%Y %I:%M %p") : "" %>
                  <%= f.text_field :start_date, placeholder: "Start Date", class: "form-control validate[required]", value: date_val %>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
              </div>

              <div class='col-md-6 form-group'>
                <div class='input-group date' id='eventenddate'>
                  <label>End Date</label>
                  <% date_val = event.event_detail.present? && event.event_detail.end_date.present? ? event.event_detail.end_date.strftime("%m/%d/%Y %I:%M %p") : "" %>
                  <%= f.text_field :end_date, placeholder: "End Date", class: "form-control validate[required]", value: date_val %>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
              </div>

              <div class='col-md-12 form-group'>
                <label>Event Description</label>
                <div class='event_description'>
                  <p class='pull-right' data-toggle="modal" data-target="#eventdescription_popup">See Example</p>
                  <%= f.text_area :event_description, rows: '11', cols: '62', class: "validate[required]" %>
                </div>
              </div> 

              <div class='col-md-6 form-group'>
                <label>Sub Events</label>
                <div class='subevents'>
                  <p class='pull-right' data-toggle="modal" data-target="#subevents_popup">See Example</p>
                 <%= f.text_area :sub_events, rows: '8', cols: '21.9' %>
                </div>
              </div>

              <div class='col-md-6 form-group'>
                <label>Workshops</label>
                <div class='workshops'>
                  <p class='pull-right' data-toggle="modal" data-target="#workshops_popup">See Example</p>
                  <%= f.text_area :workshops, rows: '8', cols: '21.9' %>
                </div>  
              </div>

              <div class='col-md-6 form-group'>
                <label>Paper Presentation Topics</label>
                <div class='paper_presen_topics'>
                  <p class='pull-right' data-toggle="modal" data-target="#papertopics_popup">See Example</p>
                  	<%= f.text_area :paper_presentation_topics, rows: '8', cols: '21.9' %>
                </div>  
              </div>
              
              <div class='col-md-6 form-group'>
                <label>Conference Topics</label>
                <div class='conf_topics'>
                  <p class='pull-right' data-toggle="modal" data-target="#conferencetopics_popup">See Example</p>
                  <%= f.text_area :conference_topics, rows: '8', cols: '21.9' %>
                </div>  
              </div>     
            </div>
          </div>

					<div class='col-md-6 form-group'>
						<div class='row registration_details'>
							<h3>Registration Details</h3>
							<div class='col-md-6 form-group'>
								<div class='input-group date' id='event_reg_opens'>
									<label>Registration Opens On</label>
                  <% date_val = event.event_detail.present? && event.event_detail.reg_start_date.present? ? event.event_detail.reg_start_date.strftime("%m/%d/%Y %I:%M %p") : "" %>
									<%= f.text_field :reg_start_date, class: "form-control validate[required]", placeholder: "Registration Opens On", value: date_val %>
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
								</div>
							</div>
							<div class='col-md-6 form-group'>
								<div class='input-group date' id='event_reg_closed'>
									<label>Registration Closes On</label>
                  <% date_val = event.event_detail.present? && event.event_detail.reg_end_date.present? ? event.event_detail.reg_end_date.strftime("%m/%d/%Y %I:%M %p") : "" %>
									<%= f.text_field :reg_end_date, class: "form-control validate[required]", placeholder: "Registration Closes On", value: date_val %>
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
								</div>
							</div>
							<div class='col-md-12 form-group'>
								<label>Registration Fees</label>
								<div class='reg_fees'>
									<p class='pull-right' data-toggle="modal" data-target="#registrationfees_popup">See Example</p>
									<%= f.text_area :reg_fee, rows: '8', cols: '58' %>
								</div>
							</div>
						</div>
					</div>


        </div>
      </div>


<!--event description popups start-->
<div class="modal fade" id="eventdescription_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Example for Event Description</h4>
      </div>
      <div class="modal-body">
        <p>Get set to witness India's largest student-run fest in this country. Wherever you are, 'Texconhorn' and reach IIT to see the forest come alive. The enchantment shall be open to viewing from 4th January, 2017 to 8th January, 2017...</p>
      </div>
    </div>
  </div>
</div>
<!--event description popups end-->
<!--sub events popups start-->
<div class="modal fade" id="subevents_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Example for Sub-Events</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>Technical quiz</li>
          <li>Circuit Debugging</li>
          <li>Coding contest</li>
          <li>.....</li>
        </ul>
        <p>Likewise add topics so on</p>
      </div>
    </div>
  </div>
</div>
<!--sub events popups start end-->
<!--workshops popups start-->
<div class="modal fade" id="workshops_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Example for Workshops</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>Robotics</li>
          <li>Web development</li>
          <li>Internet of Things</li>
          <li>.....</li>
        </ul>
        <p>Likewise add topics so on</p>
      </div>
    </div>
  </div>
</div>
<!--workshops popups end-->
<!--paper presentation topics popups start-->
<div class="modal fade" id="papertopics_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Example for Paper Presentation Topics</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>Fuzzy Logic</li>
          <li>Neural networks</li>
          <li>.....</li>
        </ul>
        <p>Likewise add topics so on</p>
      </div>
    </div>
  </div>
</div>
<!--paper presentation topics popups end-->
<!--conference topics popups start-->
<div class="modal fade" id="conferencetopics_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Example for Conference Topics</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>Hyper-Threading Technology</li>
          <li>Hadoop Technology</li>
          <li>Image processing and applications</li>
          <li>Improving TCP performance over mobile ad hoc network</li>
          <li>.....</li>
        </ul>
        <p>Likewise add topics so on</p>
      </div>
    </div>
  </div>
</div>
<!--conference topics popups end-->

<!--registration fees popups start-->
<div class="modal fade" id="registrationfees_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Example for Registration Fees</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>Paper Presentation – Free</li>
          <li>Web development workshop – Free</li>
          <li>Python workshop – Rs 750 per head / Rs 2000 per team</li>
          <li>Arduino - 750 per head / Rs 2000 per team</li>
        </ul>
        <p>Likewise add registration fees so on</p>
      </div>
    </div>
  </div>
</div>
<!--registration fees popups end-->