<style>
body {
background: #f7f7f7;
min-height: 100vh;
}
</style>
<!--event registration start-->
<div id='event_reg_body_container'>
  <div class='container-fluid'>
    <h2 class='text-center title'>Event Registration</h2>
      <%= simple_form_for @event,validate: true, html: { multipart: true } do |f| %>
      <% if @event.errors.any? %>
      <div id="errors">
        <h3><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h3>
        <ul>
          <% @event.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
        </ul>
      </div>
      <% end %>
     <div id="eventregistrationform">
     <div class='basic_info'>
      <h3>Basic Details</h3>
      <div class='row'>
        <div class='col-md-3 form-group'>
          <%= f.text_field :first_name, class: 'form-control validate[required, custom[onlyLetters]]', placeholder: "First Name" %>
        </div>
        <div class='col-md-3 form-group'>
          <%= f.text_field :last_name, class: 'form-control validate[required, custom[onlyLetters]]', placeholder: "Last Name" %>
        </div>
        <div class='col-md-3 form-group'>
          <%= f.text_field :email, class: 'form-control validate[required,custom[email]]', placeholder: "Email Id" %>
        </div>
        <div class='col-md-3 form-group'>
          <%= f.text_field :phone_no, class: 'form-control validate[required,custom[onlyNumber],minSize[10]]', 'data-errormessage': "Enter valid phone no", placeholder: "Mobile No *" %>
        </div>
        <div class='col-md-3 form-group'>
          <%= f.text_field :event_name, class: 'form-control validate[required]', placeholder: "Event Name" %>
        </div>
        <div class='col-md-3 form-group'>
          <%= f.collection_select :event_type, EventType.all, :name, :name, {selected: @event.event_type, prompt: true}, class: "select2-size form-control validate[required] select2-offscreen", placeholder: "Select Event Type" %>
        </div>
     
    
           
    <%= f.button :submit, name: "event_registration_submit", class: "btn btn-primary event_registration_submit", value: "Submit" %><br/>
    </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $("#new_event").validationEngine({
    promptPosition : "bottomLeft",
    autoHidePrompt: true,
    autoHideDelay: 3000,
    fadeDuration: 0.3,
    scroll: false,
    maxErrorsPerField:1
    });
});
</script>