<style>
body {
background: #f7f7f7;
min-height: 100vh;
}
</style>
<!--event registration start-->
<div id='event_reg_body_container'>
  <div class='container-fluid'>
    <h2 class='text-center title'>Event Registration</h2>
      <%= simple_form_for @event, html: { multipart: true } do |f| %>
      <% if @event.errors.any? %>
      <div id="errors">
        <h3><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h3>
        <ul>
          <% @event.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
        </ul>
      </div>
      <% end %>
     <div id="eventregistrationform">
     <div class='basic_info'>
      <h3>Basic Details</h3>
      <div class='row'>
        <div class='col-md-3 form-group'>
          <%= f.text_field :first_name, class: 'form-control validate[required]', placeholder: "First Name" %>
        </div>
        <div class='col-md-3 form-group'>
          <%= f.text_field :last_name, class: 'form-control', placeholder: "Last Name" %>
        </div>
        <div class='col-md-3 form-group'>
          <%= f.text_field :email, class: 'form-control', placeholder: "Email Id" %>
        </div>
        <div class='col-md-3 form-group'>
          <%= f.text_field :phone_no, class: 'form-control', placeholder: "Mobile No *" %>
        </div>
        <div class='col-md-3 form-group'>
          <%= f.text_field :event_name, class: 'form-control', placeholder: "Event Name" %>
        </div>
        <div class='col-md-3 form-group'>
          <%= f.select :event_type, ['Technical Event', 'Symposium', 'Cultural Event', 'Management Event',
      'Literary Event', 'Sports Event', 'Conference', 'Online Event', 'Seminar', 'Workshops'] %>
        </div>
        <div class='col-md-3 form-group'>
          <%= f.text_field :study_place, class: 'form-control', placeholder: "College Name / University" %>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-3 form-group'>
          <select name="event[country]" class="country form-control">
                  <option value="" selected="selected">Select Country</option>
                  <% CS.countries.each do |item| %>
                    <option value="<%= item[0] %>"><%= item[1] %></option>
                  <% end %>
          </select>
        </div>
        <div class='col-md-3 form-group'>
          <select name="event[state]" class="state form-control">
                  <option value="" selected="selected">Select State</option>
          </select>
        </div>
        <div class='col-md-3 form-group'>
          <select name="event[district]" class="city form-control">
                  <option value="" selected="selected">Select City</option>
          </select>
        </div>
        <div class='col-md-3 form-group'>
              <%= f.text_field :zip, placeholder: 'Zip Code / Post Code' %>
        </div>
        <div class='col-md-3 form-group'>
          <%= f.text_field :location, placeholder: 'Location' %>
        </div>
      </div>
    </div>

    <%= f.simple_fields_for :event_detail do |event_detail| %>
      <%= render 'event_detail_fields', f: event_detail %>
    <% end %>

    <%= render partial: 'event_department', locals: {f: f} %>

    <%= f.simple_fields_for :event_url do |event_url| %>
    <%= render 'event_url_detail_fields', f: event_url %>
    <% end %>

    <div class='contperson_and_guest'>
      <div class='row'>
        <div class='col-md-6 form-group'>
          <div class='cont_persondetails'>
            <h3>Contact Person Details</h3>
            <%= f.simple_fields_for :event_contact_details do |event_contact_details| %>
            <%= render 'event_contact_detail_fields', f: event_contact_details %>
            <% end %>
            <div class="links">&nbsp;
              <%= link_to_add_association 'Add Contact', f, :event_contact_details, class: "btn btn-default add-button" %>
            </div><br/>
          </div>
        </div>
      
        <div class='col-md-6 form-group'>
          <div class='cont_persondetails'>
            <h3>Guest Details</h3>
            <%= f.simple_fields_for :event_guest_details do |event_guest_details| %>
            <%= render 'event_guest_detail_fields', f: event_guest_details %>
            <% end %>
            <div class="links">&nbsp;
              <%= link_to_add_association 'Add Guest', f, :event_guest_details, class: "btn btn-default add-button" %>
            </div><br/>
          </div>
        </div>
      </div>
    </div>

    <div class='lookfor_sponsors_accomodation'>
      <div class='row'>
        <div class='col-md-6'>
          <div class='lookfor_sponsors'>
            <h3>We are looking for</h3>
            <div class='row'>
              <div class='col-md-12'>
                <%= render partial: 'event_extra', locals: {f: f} %>
              </div>
              <p>* Conditions Apply</p>
            </div>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='accomodations'>
            <h3>Accomodation</h3>
            <div class='row'>
              <div class='col-md-12'>
                <%= f.simple_fields_for :event_accomodation do |event_accomodation| %>
                <div class="field">
                  <%= event_accomodation.label :accomodation, "Yes", :value => "true"  %>
                  <%= event_accomodation.radio_button :accomodation, true %>
                  <%= event_accomodation.label :accomodation, "No", :value => "false" %>
                  <%= event_accomodation.radio_button :accomodation, false%>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='fileuploads'>
      <h3>File Uploads</h3>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Banner Image</label>
          <div class="col-sm-10">
            <%= f.simple_fields_for :event_banner do |event_banner| %>
            <%= render 'event_banner_fields', f: event_banner %>
            <% end %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">College Logo / Event Logo</label>
          <div class="col-sm-10">
            <%= f.simple_fields_for :event_college_banner do |event_college_banner| %>
            <%= render 'event_college_banner_fields', f: event_college_banner %>
            <% end %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Broucher</label>
          <div class="col-sm-10">
            <%= f.simple_fields_for :event_broucher do |event_broucher| %>
            <%= render 'event_broucher_fields', f: event_broucher %>
            <% end %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Sponsors Logo</label>
          <div class="col-sm-10">
            <%= f.simple_fields_for :event_sponsors do |event_sponsors| %>
            <%= render 'event_sponsor_fields', f: event_sponsors %>
            <% end %>
            <div class="links">&nbsp;
              <%= link_to_add_association 'Add Sponsor', f, :event_sponsors, class: "btn btn-default add-button" %>
            </div><br/>
          </div>
        </div>
      </div>
          
    <%= f.button :submit, name: "event_registration_submit", class: "btn btn-primary event_registration_submit", value: "Submit" %><br/>
    </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $("#new_event").validationEngine({
    promptPosition : "bottomLeft",
    autoHidePrompt: true,
    autoHideDelay: 3000,
    fadeDuration: 0.3,
    scroll: false,
    maxErrorsPerField:1
    });
});
</script>