<!--banner start-->
  <div class='eventfilter_page_banner'><img class='text-center img-responsive' src="<%= asset_path('banner.png')%>" ></div>
<!--banner end-->

<!--Filter, filter results and googleadd section start-->
  <div id='home_body_container'>
    <div class='container-fluid'>
      <div class='row'>
        
        <!--filter section start-->
        <div class='col-md-3'>
          <div class='event_filter'>
            <form action="#" id="event_filter_form" method="post" accept-charset="utf-8">

              <div class="form-group">
                <label class='customlabel'>Event Type</label>
                <%= select_tag "search_from", "<option>Technical Event</option><option>Symposium</option><option>Cultural Event</option><option>Management Event</option><option>Literary Event</option><option>Sports Event</option>Conference</option><option>Online Event</option><option>Seminar</option><option>Workshops</option>".html_safe %>
              </div>

              <div class="form-group">
                <label class='customlabel'>Country</label>
                <select name="country" class="country form-control">
                  <option value="" selected="selected">Select Country</option>
                  <% CS.countries.each do |item| %>
                    <option value="<%= item[0] %>"><%= item[1] %></option>
                  <% end %>
                </select>
              </div>

              <div class="form-group">
                <label class='customlabel'>State</label>
                <select name="state" class="state form-control">
                  <option value="" selected="selected">Select State</option>
                </select>
              </div>

              <div class="form-group">
                <label class='customlabel'>City</label>
                <select name="city" class="city form-control">
                  <option value="" selected="selected">Select City</option>
                </select>
              </div>

              <div class="departments">
                <label class='customlabel'>Department</label>
                <div class='department_checkbox'>
                  <% EventDepartment.all.each_with_index do |dept, index| %>
                  <label>
                    <input class='department' type='checkbox' name='department' value='<%= index %>'><%= dept.name %>
                  </label>
                  <% end %>
                </div>
              </div>
          
              <div class="form-group">
                <label class='customlabel'>Date</label>
                <div class='input-group date' id='date'>
                  <input type="text" name="date" value="" placeholder="Date" class="form-control"/>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
              </div>

            </form>  
          </div>
        </div>
        <!--filter section end-->

        <!--filter results section start-->
        <div class='col-md-6'>
          <div id="event_results" class="event_results">
            <h2 class="text-center">Search Results for Events</h2>
            <% if @events.count == 0 %><br/><p style="text-align: center;">First Event is yet to create !</p><% end %>
            <% @events.each do |event| %>
              <div class="event_search_result">
                <div class="section1">
                  <div class="section1_left">
                    <h2 class="eventname"><%= link_to event.event_name, event %></h2>
                    <p class="colg_name"><%= event.study_place %></p>
                    <p class="locat"><%= event.district %>, <%= event.state %>, <%= event.country %></p>
                    <p class="event_typename"><%= event.event_type %>, 8days</p>
                  </div>
                  <div class="section1_right">
                    <%= image_tag event.event_college_banner.college_banner.url(:small) if event.event_college_banner.present? %>
                  </div>
                </div>
                <div class="section2">
                  <div class="dates">
                    <p><b>Date: </b><%= event.event_detail.start_date.to_s.split(' ')[0] %><span></span> <%= event.event_detail.end_date.to_s.split(' ')[0] %></p>
                  </div>
                <%= link_to 'View Details', event, class: 'view_det_btn hvr-bubble-float-right', target: '_blank' %>
                </div>
                <div class="section3">
                  <ul>
                  <li>Going - 23456</li>
                  <li>May be - 10006</li>
                  <li>Event Reach - 23347899</li>
                  </ul>
                </div>
              </div>
            <% end %>
            <%= will_paginate @events %>
          </div>
        </div>
        <!--filter results section end--> 

        <!--googlead start-->
        <div class='col-md-3'><div class='home_vertical_google_ads'><img src="<%= asset_path('googleads.png') %>"></div></div>
        <!--googlead end-->
      
      </div>
    </div>
  </div>