<!--banner start-->
  <div class='eventfilter_page_banner'><img class='text-center img-responsive' src="<%= asset_path('banner.png')%>" ></div>
<!--banner end-->

<!--Filter, filter results and googleadd section start-->
  <div id='home_body_container'>
    <div class='container-fluid'>
      <div class='row'>
        
        <!--filter section start-->
        <div class='col-md-3'>
          <div class='event_filter'>
            <%= form_tag events_path, :method => 'get',remote: true, :id => "event_filter_form" do %>

              <div class="form-group">
                <label class='customlabel'>Event Type</label>
                 <select name="event_type" class="event_type form-control">
                  <option value="" selected="selected">Select Type</option>
                  <% EventType.all.each do |event_type| %>
                    <option value="<%= event_type.name %>"><%= event_type.name %></option>
                  <% end %>
                </select>
              </div>

              <div class="form-group">
                <label class='customlabel'>Country</label>
                <select name="country" class="country form-control">
                  <option value="" selected="selected">Select Country</option>
                  <% CS.countries.each do |item| %>
                    <option value="<%= item[0] %>"><%= item[1] %></option>
                  <% end %>
                </select>
              </div>

              <div class="form-group">
                <label class='customlabel'>State</label>
                <select name="state" class="state form-control">
                  <option value="" selected="selected">Select State</option>
                </select>
              </div>

              <div class="form-group">
                <label class='customlabel'>City</label>
                <select name="city" class="city form-control">
                  <option value="" selected="selected">Select City</option>
                </select>
              </div>

              <div class="departments">
                <label class='customlabel'>Department</label>
                <div class='department_checkbox'>
                  <% EventDepartment.all.each_with_index do |dept, index| %>
                  <label>
                    <input class='department' type='checkbox' name='department' value='<%= index %>'><%= dept.name %>
                  </label>
                  <% end %>
                </div>
              </div>
          
              <div class="form-group">
                <label class='customlabel'>Date</label>
                <div class='input-group date' id='date'>
                  <input type="text" name="search_date" value="" placeholder="Date" id="filter_date" class="form-control"/>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
              </div>
              
              <%= submit_tag "Search", :name => nil, class: "filter_result hide" %>
            <% end %>  
          </div>
        </div>
        <!--filter section end-->
        
        <div id="events"><%= render 'events' %></div>

        <!--googlead start-->
        <div class='col-md-3'><div class='home_vertical_google_ads'><img src="<%= asset_path('googleads.png') %>"></div></div>
        <!--googlead end-->
      
      </div>
    </div>
  </div>
  <script>
$(function(){
   $('.pagination a').attr('data-remote', 'true')
   $('.pagination a').on('click', function() {
    $('html, body').animate({ scrollTop: $('#events').offset().top }, 'slow');
   });
});
</script>