<div id='notification_page'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-5'>
        <div class='notification_sec'>
          <h2 class='text-center'>Notifications</h2>
          
          <% @notifications.each do |notification| %>
          <div class='notify_det'>
            <div class='notifydet_left'>
               <p><%= notification.try(:event).try(:event_name) %>, <%= notification.try(:event).try(:event_type) %>, <%= (Date.parse(notification.try(:event).try(:event_detail).try(:end_date).to_s.split(' ')[0]) - Date.parse(notification.try(:event).try(:event_detail).try(:start_date).to_s.split(' ')[0])).to_i+1 %> Days</p>
                        <p><%= notification.try(:event).try(:place_of_study) %></p>
                        <p><%= notification.try(:event).try(:district) %>, <%= notification.try(:event).try(:state) %>, <%= notification.try(:event).try(:country) %></p>
                        <p>Date: <%= notification.try(:event).try(:event_detail).try(:start_date).strftime("%a, %d %b %y") %> to <%= notification.try(:event).try(:event_detail).try(:end_date).strftime("%a, %d %b %y") %></p>
            </div>
            <div class='notifydet_right'>
              <!-- <button class='delete_notify'>X</button> -->
              <img src='<%= notification.try(:event).try(:event_college_banner).try(:college_banner).url %>'>
              <%= link_to 'View', notification.try(:event) %>
            </div>
          </div>
          <% end %>

    </div>
</div>
</div>
</div>
</div>
