<!--banner start-->
<div class='eventview_banner img-responsive' style='background-image: url("<%= @event.event_college_banner.present? ? @event.event_college_banner.college_banner.url(:small) : "/assets/dummy_event_banner.png" %>")'>
  <%= image_tag @event.event_banner.present? && @event.event_banner.banner.present? ? @event.event_banner.banner.url(:small) : "/assets/eventlogo.png", class: 'text-center img-responsive eventlogo' %>
  <h2 class='eventname'><%= @event.event_name %></h2>
  <p class='location'><%= @event.location %>, <%= @event.district %>, <%= @event.state %> <%= @event.zip %>, <%= @event.country %></p>
  <div class='dates'>
    <div class='startdate'><p><%= @event.event_detail.start_date.present? ? @event.event_detail.start_date.strftime("%a, %d %b %y") : '' %></p><p><%= @event.event_detail.start_date.present? ? @event.event_detail.start_date.strftime("%I:%M %P") : '' %></p></div>
    <div class='enddate'><p><%= @event.event_detail.end_date.present? ? @event.event_detail.end_date.strftime("%a, %d %b %y") : '' %></p><p><%= @event.event_detail.end_date.present? ? @event.event_detail.end_date.strftime("%I:%M %P") : '' %></p></div>
    <div class='totaldays'><p><%= (Date.parse(@event.event_detail.end_date.to_s.split(' ')[0]) - Date.parse(@event.event_detail.start_date.to_s.split(' ')[0])).to_i+1 %> days</p></div>
  </div>
  
</div>
<!--banner end-->
<section id='eventview_gogleads'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-9'>
        <div class='row'>
          <div class='col-md-8'>
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#aboutus_tab" aria-controls="home" role="tab" data-toggle="tab">About</a></li>
              <li role="presentation"><a href="#event_tab" aria-controls="profile" role="tab" data-toggle="tab">Event</a></li>
              <li role="presentation"><a href="#register_tab" aria-controls="messages" role="tab" data-toggle="tab">Register</a></li>
              <% if @event.event_contact_details.count > 0 %><li role="presentation"><a href="#contactus_tab" aria-controls="settings" role="tab" data-toggle="tab">Contact Us</a></li><% end %>
              <% if @event.event_sponsors.count > 0 %><li role="presentation"><a href="#sponsors_tab" aria-controls="settings" role="tab" data-toggle="tab">Sponsors</a></li><% end %>
              <li style="display: none;" role="presentation"><a href="#reports_tab" aria-controls="settings" role="tab" data-toggle="tab">Event Report</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="aboutus_tab">
                <p><%= @event.event_detail.event_description.present? ? @event.event_detail.event_description : "No Event Description" %></p>
                <div class='guestspeaker'>
                  <% if @event.event_guest_details.count > 0 %><p><strong>Guest Speakers</strong></p><% end %>
                  <ol>
                    <% @event.event_guest_details.each do |guest| %>
                     <li><span><%= guest.name.titleize %></span><span><%= guest.designation %> - <%= guest.company %></span><span> <%= guest.delegation.titleize %></span></li>
                    <% end %>
                  </ol>
                </div>
                <div class='clear-fix'></div>
                <div class='eventwebsite_accomodation'>
                  <% if @event.event_broucher.present? %>
                   <a target="_blank" href="<%= @event.event_broucher.broucher.url %>">Download Broucher</a>
                  <% end %>
                  <% if @event.event_url.present? && @event.event_url.college_link.present? %>
                    <a target="_blank" href='<%= @event.event_url.college_link %>'>College Website</a>
                  <% end %>
                  <% if @event.event_accomodation.present? && @event.event_accomodation.accomodation.present? %>
                   <a><%= @event.event_accomodation.accomodation == true ? 'Yes' : 'No' %> Accomodation Provided</a>
                  <% end %>
                </div>
                <div class='clear-fix'></div>
                <% if @event.event_url.present? && @event.event_url.web_link.present? %>
                <div class='eventwebsite'><span>Event:</span><a href='<%= @event.event_url.web_link %>'><%= @event.event_url.web_link %></a></div>
                <% end %>
                <div class='followus'>
                  <% if @event.event_url.present? %><p>Follow Us</p><% end %>
                  <ul class='socialicons'>
                    <% if @event.event_url.present? && @event.event_url.facebook_link.present? %>
                    <li><a target="_blank" href='<%= @event.event_url.facebook_link %>'><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
                    <% end %>
                    <% if @event.event_url.present? && @event.event_url.twitter_link.present? %>
                    <li><a target="_blank" href='<%= @event.event_url.twitter_link %>'><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                    <% end %>
                    <% if @event.event_url.present? && @event.event_url.youtube_link.present? %>
                    <li><a target="_blank" href='<%= @event.event_url.youtube_link%>'><i aria-hidden="true" class="fa fa-youtube-play"></i></a></li>
                    <% end %>
                    <% if @event.event_url.present? && @event.event_url.apps_link.present? %>
                    <li><a target="_blank" href='<%= @event.event_url.apps_link %>'><i aria-hidden="true" class="fa fa-mobile"></i></a></li>
                    <% end %>
                  </ul>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="event_tab">
                <div class='row'>
                  <div class='col-md-6'>
                    <p>Sub Events</p>
                    <ul>
                      <% @event.event_detail.sub_events.split("\r\n").each do |sub_event| %>
                        <li><%= sub_event %></li>
                      <% end %>
                    </ul>
                  </div>
                  <div class='col-md-6'>
                    <p>Workshops</p>
                    <ul>
                      <% @event.event_detail.workshops.split("\r\n").each do |workshop| %>
                        <li><%= workshop %></li>
                      <% end %>
                    </ul>
                  </div>
                  <div class='col-md-6'>
                    <p>Paper Presentations</p>
                    <ul>
                      <% @event.event_detail.paper_presentation_topics.split("\r\n").each do |paper_presentation| %>
                        <li><%= paper_presentation %></li>
                      <% end %>
                    </ul>
                  </div>
                  <div class='col-md-6'>
                    <p>Conference Topics</p>
                    <ul>
                      <% @event.event_detail.conference_topics.split("\r\n").each do |conference_topic| %>
                        <li><%= conference_topic %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="register_tab">
                <p><strong>Registration Opens - </strong> <%= @event.event_detail.reg_start_date.present? ? @event.event_detail.reg_start_date.to_s.split(' ')[0] : '' %></p>
                <p><strong>Registration Closes - </strong> <%= @event.event_detail.reg_start_date.present? ? @event.event_detail.reg_end_date.to_s.split(' ')[0] : '' %></p>
                <p><strong>Registration Fees Details</strong></p>
                <div class='eventdet'>
                  <p><strong>Split ups</strong></p>
                  <ul>
                    <% @event.event_detail.reg_fee.split("\r\n").each do |fee| %>
                      <li><%= fee %></li>
                    <% end %>
                  </ul>
                </div>
              </div>

              <% if @event.event_contact_details.count > 0 %>
              <div role="tabpanel" class="tab-pane fade" id="contactus_tab">
                <h2>Event Coordinators</h2>
                <div class='row'>
                  <% @event.event_contact_details.each do |contact| %>
                  <div class='col-md-6'>
                    <div class='coordinator'>
                      <p><%= contact.designation %></p>
                      <p><%= contact.name %></p>  
                      <p>Phone: <%= contact.phone_no %></p>  
                      <p>Email: <%= contact.email %></p>
                      <p>General Support: <%= contact.general_support %></p>  
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
              <% end %>

              <% if @event.event_sponsors.count > 0 %>
              <div role="tabpanel" class="tab-pane fade" id="sponsors_tab">
                <div class='row'>
                  <div class='col-md-3'>
                  <% @event.event_sponsors.each do |sponsor_image| %>
                    <p><%= sponsor_image.sponsor_file_name %></p>
                    <%= image_tag sponsor_image.sponsor, width: '100px', height: '100px' %>
                  <% end %>
                  </div>
                </div>
              </div>
              <% end %>

              <div role="tabpanel" class="tab-pane fade" id="reports_tab">
                <div class='row'>
                  <div class='col-md-6'>
                  <% EventGoing.where(event_id: @event.id).each do |event_going| %>
                    <p>EventName: <%= @event.event_name %></p>
                    <p>Name: <%= event_going.user.name %></p>
                    <p>Email: <%= event_going.user.email %></p>
                    <p>Phone: <%= event_going.user.phone_no %></p>
                    <p>Status: <%= event_going.going_count == 1 ? "Going" : "May be" %></p>
                    <p>View count: <%= event_going.reach_count %></p>
                    <hr/>
                  <% end %>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class='col-md-4 share_middlesec'>

           <div class='socialicons'>
              <div class='fbshare'>
              <!--facebook like and share start-->
              <div class="fb-like" data-href="http://techvisible.com/" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
              
              <div class="fb-share-button" data-href="http://techvisible.com/" data-layout="button" data-size="small" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://techvisible.com/&amp;src=sdkpreparse">Share</a></div>
              <!--facebook like and share end-->
              </div>


              <div class='link_twit_ggl'>
              <!--linkedin share start-->
              <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
              <script type="IN/Share" data-url="http://google.co.in"></script>
              <!--linkedin share end-->
              <!--twitter share start-->
              <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              <!--twitter share end-->
              <!--google plus share start-->
              <script src="https://apis.google.com/js/platform.js" async defer></script>
              <div class="g-plus" data-action="share" data-annotation="none" data-href="http://google.co.in" data-size="tall"></div>
              <!--google plus share end-->
              </div>

            </div>


            
            <%= form_tag  events_event_going_path, {:class => 'form-horizontal', role: "form"} do %>
              <div class='goingforevent'>
                <h2>Help the Organizers<br>Take only 5 Seconds</h2>
                <form name='areugoingforevent' action='' id='areugoingforevent' >
                  <div style="text-align: center;">
                  <p>Are you going for the event?</p>
                  <label><input type='radio' name='going_count' value='1'><span>Going</span></label>
                  <label><input type='radio' name='going_count' value='0'><span>May be</span></label>
                  <input type="hidden" name="event_id" value="<%= @event.id %>" />
                  <input type='submit' class='btn btn-primary' value='Submit' />
                  </div>
                </form>
                <br/>
              </div>
            <% end %>
          
          </div>
        </div>

      </div>
      <div class='col-md-3'>
        <div class='home_vertical_google_ads'><img src='<%= asset_path('googleads.png') %>'></div>
      </div>
    </div>
  </div>
</section> 

  <!--facebook share script start-->
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=1813450082240094";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <!--facebook share script end-->
