<!--banner start-->
<div class='eventview_banner img-responsive' style='background-image: url("<%= asset_path('dummy_event_banner.png') %>")'>
  <%= image_tag @event.event_banner.banner.url(:small), class: 'text-center img-responsive eventlogo' if @event.event_banner.present? %>
  <h2 class='eventname'><%= @event.event_name %></h2>
  <p class='location'><%= @event.location %>, <%= @event.district %>, <%= @event.state %> <%= @event.zip %>, <%= CS.states("IN").select { |key,value| key == @event.country } %></p>
  <div class='dates'>
    <div class='startdate'><p><%= @event.event_detail.start_date.present? ? @event.event_detail.start_date.to_s.split(' ')[0] : '' %></p></div>
    <div class='enddate'><p><%= @event.event_detail.end_date.present? ? @event.event_detail.end_date.to_s.split(' ')[0] : '' %></p></div>
    <div class='totaldays'><p>2days</p></div>
  </div>
  
</div>
<!--banner end-->
<section id='eventview_gogleads'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-9'>
        <div class='row'>
          <div class='col-md-8'>
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#aboutus_tab" aria-controls="home" role="tab" data-toggle="tab">About</a></li>
              <li role="presentation"><a href="#event_tab" aria-controls="profile" role="tab" data-toggle="tab">Event</a></li>
              <li role="presentation"><a href="#register_tab" aria-controls="messages" role="tab" data-toggle="tab">Register</a></li>
              <li role="presentation"><a href="#contactus_tab" aria-controls="settings" role="tab" data-toggle="tab">Contact Us</a></li>
              <li role="presentation"><a href="#sponsors_tab" aria-controls="settings" role="tab" data-toggle="tab">Sponsors</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="aboutus_tab">
                <p><%= @event.event_detail.event_description.present? ? @event.event_detail.event_description : "No Event Description" %></p>
                <div class='guestspeaker'>
                  <p><strong>Guest Speakers</strong></p>
                  <ol>
                    <% @event.event_guest_details.each do |guest| %>
                     <li><span><%= guest.name.titleize %></span><span><%= guest.designation %> - <%= guest.company %></span><span> <%= guest.delegation.titleize %></span></li>
                    <% end %>
                  </ol>
                </div>
                <div class='clear-fix'></div>
                <div class='eventwebsite_accomodation'>
                  <a target="_blank" href='<%= @event.event_url.college_link.present? ? @event.event_url.college_link : '#' %>'>College Website</a>
                  <a><%= @event.event_accomodation.accomodation == true ? 'Yes' : 'No' %> Accomodation Provided</a>
                </div>
                <div class='clear-fix'></div>
                <div class='eventwebsite'><span>Event:</span><a href='<%= @event.event_url.web_link.present? ? @event.event_url.web_link : '#' %>'><%= @event.event_url.web_link.present? ? @event.event_url.web_link : 'N/A' %></a></div>
                <div class='followus'>
                  <p>Follow Us</p>
                  <ul class='socialicons'>
                    <li><a target="_blank" href='<%= @event.event_url.facebook_link.present? ? @event.event_url.facebook_link : '#' %>'><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" href='<%= @event.event_url.twitter_link.present? ? @event.event_url.twitter_link : '#' %>'><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" href='<%= @event.event_url.youtube_link.present? ? @event.event_url.youtube_link : '#' %>'><i aria-hidden="true" class="fa fa-youtube"></i></a></li>
                    <li><a target="_blank" href='<%= @event.event_url.apps_link.present? ? @event.event_url.apps_link : '#' %>'><i aria-hidden="true" class="fa fa-mobile"></i></a></li>
                  </ul>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="event_tab">
                <div class='row'>
                  <div class='col-md-6'>
                    <p>Sub Events</p>
                    <ul>
                      <% @event.event_detail.sub_events.split("\r\n").each do |sub_event| %>
                        <li><%= sub_event %></li>
                      <% end %>
                    </ul>
                  </div>
                  <div class='col-md-6'>
                    <p>Workshops</p>
                    <ul>
                      <% @event.event_detail.workshops.split("\r\n").each do |workshop| %>
                        <li><%= workshop %></li>
                      <% end %>
                    </ul>
                  </div>
                  <div class='col-md-6'>
                    <p>Paper Presentations</p>
                    <ul>
                      <% @event.event_detail.paper_presentation_topics.split("\r\n").each do |paper_presentation| %>
                        <li><%= paper_presentation %></li>
                      <% end %>
                    </ul>
                  </div>
                  <div class='col-md-6'>
                    <p>Conference Topics</p>
                    <ul>
                      <% @event.event_detail.conference_topics.split("\r\n").each do |conference_topic| %>
                        <li><%= conference_topic %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="register_tab">
                <p><strong>Registration Opens - </strong> <%= @event.event_detail.reg_start_date.present? ? @event.event_detail.reg_start_date.to_s.split(' ')[0] : '' %></p>
                <p><strong>Registration Closes - </strong> <%= @event.event_detail.reg_start_date.present? ? @event.event_detail.reg_end_date.to_s.split(' ')[0] : '' %></p>
                <p><strong>Registration Fees Details</strong></p>
                <div class='eventdet'>
                  <p><strong>Split ups</strong></p>
                  <ul>
                    <% @event.event_detail.reg_fee.split("\r\n").each do |fee| %>
                      <li><%= fee %></li>
                    <% end %>
                  </ul>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="contactus_tab">
                <h2>Event Coordinators</h2>
                <div class='row'>
                  <% @event.event_contact_details.each do |contact| %>
                  <div class='col-md-6'>
                    <div class='coordinator'>
                      <p><%= contact.designation %></p>
                      <p><%= contact.name %></p>  
                      <p>Phone: <%= contact.phone_no %></p>  
                      <p>Email: <%= contact.email %></p>
                      <p>General Support: <%= contact.general_support %></p>  
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="sponsors_tab">
                <div class='row'>
                  <div class='col-md-3'>
                  <% @event.event_sponsors.each do |sponsor_image| %>
                    <p><%= sponsor_image.sponsor_file_name %></p>
                    <%= image_tag sponsor_image.sponsor, width: '100px', height: '100px' %>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class='col-md-4'>
            <ul class='socialicons'>
              <li><a href="#"><i aria-hidden="true" class="fa fa-share-alt"></i></a></li>
              <li><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i aria-hidden="true" class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i aria-hidden="true" class="fa fa-whatsapp"></i></a></li>
            </ul>
            
            <%= form_tag  events_event_going_path, {:class => 'form-horizontal', role: "form"} do %>
              <div class='goingforevent'>
                <h2>Help the Organizers<br>Take only 5 Seconds</h2>
                <form name='areugoingforevent' action='' id='areugoingforevent'>
                  <p>Are you going for the event?</p>
                  <label><input type='radio' name='going_count' value='1'><span>Going</span></label>
                  <label><input type='radio' name='may_be_count' value='1'><span>May be</span></label>
                  <input type='submit' class='btn' value='Submit' />
                </form>
              </div>
            <% end %>
          
          </div>
        </div>

      </div>
      <div class='col-md-3'>
        <div class='home_vertical_google_ads'><img src='<%= asset_path('googleads.png') %>'></div>
      </div>
    </div>
  </div>
</section> 

