<!--banner start-->
  <div class='home_page_banner'><img class='text-center img-responsive' src='<%= asset_path('banner.png') %>'/></div>
<!--banner end-->
<br/>
<div style="text-align: center;">
  <button type="button" class="btn btn-warning btn-lg"><strong><%= link_to 'Click here for Events', events_path,target: '_blank' %></strong></button>
</div>
<br/>

<section id='event_slider'>
  <div class='container'>
    <h2 class='text-center'><a href='#'><span>Eve</span><span>nts</span></a></h2>
    <div class="flexslider carousel">
      <ul class="slides">
        <li><img src="<%= asset_path('event_images/1-TECHNICAL- SCROLL IMAGE.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/2-SYMPOSIUM - SCROLL IMAGE.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/3-CONFERENCE- SCROLL IMAGE.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/4-CULTURAL- SCROLL IMAGE.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/5-FACULTY DEVELOPMENT - SCROLL IMAGE.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/6-MANAGEMENT- SCROLL IMAGE.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/7-WORKSHOPS- SCROLL IMAGE.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/8-MEDICAL - SCROLL IMAGES.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/9-ARTS- SCROLL IMAGE.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/10-CONTEST - SCROLL IMAGES.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/11-ONLINE EVENTS SCROLL IMAGE.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/12-MEDIA- SCROLL IMAGE.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/SPORTS - SCROLL IMAGE.jpg') %>" /></li>
      </ul>
    </div>
  </div>
</section>

<section id='partners_slider'>
  <div class='container'>
    <h2 class='text-center'><span>Part</span><span>ners</span></h2>
    <div class="flexslider carousel">
      <ul class="slides">
        <li><img src="<%= asset_path('event_images/1-TECHNICAL- SCROLL IMAGE.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/2-SYMPOSIUM - SCROLL IMAGE.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/3-CONFERENCE- SCROLL IMAGE.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/4-CULTURAL- SCROLL IMAGE.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/5-FACULTY DEVELOPMENT - SCROLL IMAGE.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/6-MANAGEMENT- SCROLL IMAGE.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/7-WORKSHOPS- SCROLL IMAGE.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/8-MEDICAL - SCROLL IMAGES.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/9-ARTS- SCROLL IMAGE.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/10-CONTEST - SCROLL IMAGES.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/11-ONLINE EVENTS SCROLL IMAGE.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/12-MEDIA- SCROLL IMAGE.jpg') %>" /></li>
        <li><img src="<%= asset_path('event_images/SPORTS - SCROLL IMAGE.jpg') %>" /></li>
      </ul>
    </div>
  </div>
</section>


<section id='features'>
  <div class='container'>
    <h2 class='text-center'><span>Feat</span><span>ures</span></h2>
    <div class='row'>

      <div class='col-md-6'>
        <div class='feature_cont'>
          <h3 class='pull-right'>Simple and easy to use</h3>
          <p class='pull-left'>We have designed this site with high priority to ease of use by students , don't belive give a try</p>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='feature_cont'>
          <h3 class='pull-left'>Great Analtics</h3>
          <p class='pull-right'>Know how many people are coming , how many are in dilema , how many have read about your event</p>
        </div>  
      </div>

      <div class='col-md-6'>
        <div class='feature_cont'>
          <h3 class='pull-right'>We will not dump your inbox with irrelavant emails</h3>
          <p class='pull-left'>Computer science student will not get a technical event inivite for Fashion tech event</p>
        </div>  
      </div>

      <div class='col-md-6'>
        <div class='feature_cont'>
          <h3 class='pull-left'>Reach as many as possible</h3>
          <p class='pull-right'>Our user base as keep increasing , we will show only the preferred events for users when the login. So , if you keep a event in chennai you can reach a lot of chennai guys !!!</p>
        </div>  
      </div>
      
    </div>
  </div>
</section>