<div class="container">
<% if current_user.registration_type.include?("Employer") %>
 <%= link_to "New Internship", new_internship_path %>
 <%= link_to "Posted Internship", internships_posted_internships_path %>
 <br>Dashboard (Showing applied candidates)
<% @applied_internships.each do |internship| %>
  <p><%= internship.user.name %></p>
  <p>Applied for: <%= internship.internship.title %></p>
  <p><%= internship.internship_status %></p>
  <p>-------------------------------------------</p>
<% end %>
<% elsif current_user.registration_type.include?("Student-Studying") || current_user.registration_type.include?("Student-Passout") %>
 <% @internships.each do |internship| %>
  <p><%= link_to internship.title, internship %></p>
 <% end %> 
<% end %>

</div>