<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="I1Ml8qheZbrL2Wq4qgYdekT5a-5-FmrrNUDinyIiWBY" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link type="image/png" href="<%= asset_path('favicon.png')%>" rel="shortcut icon">
    <title>Collegedaa</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    
  <!--header section start-->
  <header class='first_section'>
    <div class='top_head'>
      <div class='container-fluid'>
        <div id="top_head_menu" class="dl-menuwrapper">
          <button class="dl-trigger">Open Menu</button>
          <ul class="dl-menu">
            <li><a href="/about_us">About Us</a></li>
            <li><a target="_blank" href="<%= campus_ambassador_path %>">Campus Ambassador</a></li>
            <li><a href="https://collegedaa.freshdesk.com/support/home" target="_blank">Support</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/terms_and_conditions">Terms & Conditions</a></li>
            <li><a href="/terms_and_conditions#privacy_policy">Privacy Policy</a></li>
            <div class='topheadmenu_social_icons'>
              <a class='socicons fb' target="_blank" href='http://www.facebook.com/collegedaa'><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a class='socicons twit' target="_blank" href='http://www.twitter.com/collegedaa'><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a class='socicons gp' target="_blank" href='https://plus.google.com/115172016622435313411'><i class="fa fa-google-plus" aria-hidden="true"></i></a>
              <a class='socicons lin' target="_blank" href='https://www.linkedin.com/company/collegedaa'><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a class='socicons ins' target="_blank" href='http://www.instagram.com/collegedaa'><i class="fa fa-instagram" aria-hidden="true"></i></a>
              
            </div>    

           </ul>

        </div>

        <div class="topheadmenu_social_icons_right pull-right">
          <a class='socicons fb' target="_blank" href='http://www.facebook.com/collegedaa'><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a class='socicons twit' target="_blank" href='http://www.twitter.com/collegedaa'><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a class='socicons gp' target="_blank" href='https://plus.google.com/115172016622435313411'><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          <a class='socicons lin' target="_blank" href='https://www.linkedin.com/company/collegedaa'><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a class='socicons ins' target="_blank" href='http://www.instagram.com/collegedaa'><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

    <div class="container">
      <script>
      <% flash.each do |name, msg| %>
        ApplicationHelper.notify('<%= msg %>', '<%= name %>');
      <% end %>
    </script>
    </div>

    <div class='menu_logo_sec'>
      <div class="container-fluid">
        <div class="logo">
          <a href='/events' title='Home'><img class='img-responsive' src='<%= asset_path('logo.png')%>'></a>
        </div>    
        
        <div role="navigation" class="navbar navbar-default pull-right mainmenu1">
          <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
              <li><a href="https://collegedaa.freshdesk.com/support/home" target="_blank">Support</a></li>
              <li><a href="#">Message Us</a></li>
              <li><a target="_blank" href="<%= campus_ambassador_path %>">Campus Ambassador</a></li>
              <li><%= link_to 'Post Events', new_event_path %></li>
              <li>
                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><%= user_signed_in? ? current_user.name+" " : "Sign In " %> <b class="caret"></b></a>
                <ul class="dropdown-menu multi-level">
                   <% if user_signed_in? %>
                    <li><%= link_to "Settings", edit_user_registration_path %></li>
                    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                    <% else %>
                    <li><%= link_to "Sign In", new_user_session_path %></li>
                    <li><%= link_to "Sign Up", new_user_registration_path %></li>
                    <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>    
  </header>    
<!--header section end-->

  
  <%= yield %>

    <!--footer section start-->
  <footer>
    <div class='footer_details'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-3'>
            <div class='footer_sec1'>
              <h2>Quick Links</h2>
              <ul>
                <li><a href='/users/sign_up'>Signup</a></li>
                <li><a href='/events/new'>Post Event</a></li>
                <li><a href='#'>Search Event</a></li>
                <li><a href="https://collegedaa.freshdesk.com/support/home" target="_blank">Support & Help</a></li>
              </ul>
            </div>
          </div>
          <div class='col-md-3'>
            <div class='footer_sec2'>
              <h2>Collegedaa</h2>
              <ul>
                <li><a href='/about_us'>About Us</a></li>
                <li><a href='/services'>Services</a></li>
                <li><a href='/terms_and_conditions'>Terms & Conditions</a></li>
                <li><a href='/terms_and_conditions#privacy_policy'>Privacy Policy</a></li>
              </ul>
            </div>
          </div>
          <div class='col-md-3'>
            <div class='footer_sec3'>
              <h2>Contact Us</h2>
              <a href="mailto:support@campusdaa.com?Subscribe to our Newsletter" target="_top">support@collegedaa.com</a>
            </div>
          </div>
          <div class='col-md-3'>
            <div class='footer_sec4'>

              <%= form_tag  events_event_subscription_path, {:id => 'subscribe_email', :class => 'form-horizontal', role: "form"} do %>
                 <h3><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp; Subscribe to our newsletter</h3>
                <div class='fields'>
                  <input type="email" name="subscribe_email" value="" placeholder="Email Address" class="form-control validate[required]"/>
                  <% if current_user %>
                    <input type='submit' class='btn' value='Go'>
                  <% else %>
                    <input type='submit' class='btn' value='Go' disabled="disabled">
                  <% end %>
                </div>
              <% end %>


              <div class="footer_social">
                <a class='socicons fb' href='http://www.facebook.com/collegedaa' target='_blank'><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a class='socicons twit' href='http://www.twitter.com/collegedaa' target='_blank'><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a class='socicons gp' href='https://plus.google.com/115172016622435313411' target='_blank'><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a class='socicons lin' href='https://www.linkedin.com/company/collegedaa' target='_blank'><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a class='socicons ins' href='http://www.instagram.com/collegedaa' target='_blank'><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div><br/>
            </div>
          </div>
            <p style="font-size: 16px;text-align: center;">All the images used in this site are taken <a target="_blank" href="http://www.freepik.com">freepik.com</a>, for any other clarification include this conact us at support@collegedaa.com</p>
        </div>    
      </div>
    </div>
    <div class='footer'>
      <div class='container'>
        <p class='text-center'>@<%= Time.now.year %> Copyrights. All Rights Reserved.</p>
      </div>  
    </div>
  </footer>
<!--footer section end--> 

  </body>
</html>

<script type="text/javascript">
$(document).ready(function(){
    $("#subscribe_email").validationEngine();
});
</script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
 <script type="text/javascript">
$(document).ready(function() {
  $(".event_dept").select2({
   placeholder: "Select Departments"
  });
});
</script>
